html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

code,
pre {
  font-family: monospace;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

body {
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

////////////////////////////////////////////////////////

html{

}

body{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.background{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;

}

.img-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: auto;
}

.img{
  width: 100%;

}
/*본문*/
.hidden-text{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 80%;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

}
/*벼룩시장(지식백과)*/
.hidden-text p{
    font-size: 13px;
    font-weight: lighter;
 
}


#hover-div{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
}

#hover-div:hover + .hidden-text {
    display: block;
}
